
@import "./components/navbar.css";

.header-container {
    width: 100%;
    height: 100%;
    background: url(/public/header-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 110px 200px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.title-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title-logo {
    width: 238px;
    height: 32px;
}

.title-text {
    color: white;
    font-size: 80px;
    letter-spacing: 0.8px;
    font-weight: 300;
}

.btns-row {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-start;
}