.invest-card {
    padding: 32px 42px 38px 42px;
    background-color: #E9FEF9;
    border-radius: 12px;
    width: 100%;
    box-shadow: inset 0 0 0 3px #BEDED7;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.icon-circle {
    width: 74px;
    height: 74px;
    border-radius: 37px;
    background-color: #25A587;
}

.invest-card__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.invest-card__label {
    font-size: 32px;
}

.invest-card__caption {
    font-size: 26px;
}