@import "./investCard.css";

.invest-docs__container {
    padding: 110px 110px 130px 110px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    background: white;
    z-index: 2;
    position: relative;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }