.navigation-request-btn {
    display: flex;
    gap: 12px;
    align-items: center;
    background: white;
    padding: 8px 8px 8px 28px;
    border-radius: 32px;
}

.request-btn-text {
    color: #5F6161;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.request-btn-link {
    width: 48px;
    height: 48px;
}