.navbar-container {
    /* height: 108px; */
    width: 100%;
    padding: 22px 26px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.navigation-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navigation-btn {
    padding: 6px;
    font-size: 20px;
    color: white;
    font-weight: 300;
    white-space: nowrap;
}

@media screen and (max-width: 1024px) {
    .navigation-btns {
        display: none;
    }
}