.arrow-comp__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    z-index: 10
}

.arrow {
    width: 100%;
    height: 100px;
    clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
    box-shadow: inset 0 0 0 1px white;
    opacity: 32%;
    background-image: linear-gradient(0.25turn, #008852 0%, #164125 53%, #008852 100%);
}

.label__container {
    padding: 0 16px;
}

.title {
    font-size: 32px;
}

.caption {
    font-size: 26px;
}